<template name="layout">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <div class="main">
       <div class="darkBackground">
           <div class="ui top fixed inverted menu">
               <a class="header item"><img class="ui image tiny" src="/tmLogo7.png"> </a>
               <div class="right menu">
                   <a class="item"><i class="teal large setting icon"></i></a>
               </div>
           </div>
           <br>
           <br>
           <br>
           <br>

       {{> yield}}

           </div>
   </div>
</template>